/* GLOBAL STYLES */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* HEADER */

header {
  padding: 40px 0 0 20px;
  background-color: #757575;
  color: #E8E8E8;
}

h1, h2 {
  font-weight: 300;
}

.title-container {
  padding-bottom: 10px;
}

li {
  padding-bottom: 10px;
  list-style-type: none;
  font-weight: 300;
}

li:hover {
  cursor: pointer;
}

li.active {
  border-bottom: 6px solid #E8E8E8;
  padding-bottom: 4px;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding-left: 0;
}

/* MAIN SECTION */

main {
  width: 50%;
  min-width: 400px;
  margin: 60px;
  color: #303030;
  font-weight: 300;
}

h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
  line-height: 35px;
}
